{% extends 'admin_panel_base.html' %}

{% block content %}
<h1>Warehouses Management</h1>
<button class="add-btn" onclick="document.getElementById('addWarehouseForm').style.display='block'">Add New Warehouse</button>

<div id="addWarehouseForm" class="form" style="display: none;">
    <form method="post">
        {% csrf_token %}
        <label for="name">Warehouse Name:</label>
        <input type="text" name="name" required>

        <label for="location">Location:</label>
        <input type="text" name="location" required>

        <button type="submit">Save</button>
        <button type="reset" onclick="document.getElementById('addWarehouseForm').style.display='none'">Cancel</button>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Warehouse Name</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for warehouse in warehouses %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ warehouse.name }}</td>
            <td>{{ warehouse.location }}</td>
            <td>
                <button>Update</button>
                <button>Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
