{% extends "home_base.html" %}
{% load static %}

{% block title %}Contact Us{% endblock title %}

{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookhub - All in One Bookstore</title>
    <link rel="stylesheet" href="{% static 'css/home_styles.css' %}">
</head>

<body>

    <section class="hero">
        <div class="hero-content">
            <h1>Meet your next favorite book</h1>
            <div class="description-slider">
                <p class="description" id="description">A cozy haven for book lovers, offering a curated selection of genres
                    and timeless classics. Find your next great read at Bookhub</p>
            </div>
        </div>
        <div class="hero-image">
            <img class="img" src="{% static 'img/home/Bookhub.png' %}" alt="Bookhub">
        </div>
    </section>

    <section class="books-section">
        <div class="books-container">

            <h1 class="books-headline">Books</h1>

            <p class="books-subheadline">
                Bookhub: Discover Stories, Anytime, Anywhere.
            </p>

            <div class="book-card">
                {% for book in books %}
                <div class="privacy-card">
                    <img src="{{ book.image.url }}" alt="{{ book.name }}" class="book-image">
                    <h3 class="privacy-card-title">{{ book.name }}</h3>
                    {% comment %} <h3 class="privacy-card-title">Price: ₹{{ book.price }}</h3> {% endcomment %}
                    <p class="privacy-card-text">{{ book.description }}</p>
                </div>
                {% endfor %}
            </div>

            <a href="{% url 'user:login' %}" class="books-cta-btn">See All Books</a>
        </div>
    </section>

    <section>
        <div class="authors-container">
            <h1 class="authors-main-title">Featured Author</h1>
            <div class="authors-cards">
                {% for author in authors %}
                <div class="author-card">
                    <img src="{{ author.profile.url }}" alt="{{ author.name }}" class="author-image">
                    <h2>{{ author.name }}</h2>
                    <p>{{ author.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>

</html>

{% endblock %}
